
{% extends 'base.html' %}

{% block main %}
    <h2>Oh Snap! An error occured</h2>
    <div class="alert alert-warning" role="alert">Error Code: {{code}}</div>
    <p>Error Description: {{description}}</p>
    <!--<section>
        <style>
            #puzzle{
                height: 40vh;
            }
        </style>
        <div id="puzzle"></div>
        <script src="{{url_for('static',filename='js/missing_puzzle.js')}}"></script>
    </section>-->
    <section>
        <style>
            #chemical{
                height: 40vh;
            }
        </style>
        <div id="chemical"></div>
        <script src="{{url_for('static',filename='js/chemical.js')}}"></script>
    </section>
{% endblock %}