{% extends 'base.html' %}

{% block main %}
    <h1>Curie Generate</h1>
    <p>The model {{expName}} has been trained for {{epochs}} epochs using the {{optimizer}} optimization algorithm</p>
    <form action="{{ url_for('generate') }}" method="post" enctype="multipart/form-data">
        {% include 'flash_messages.html' %}
        {{ form.csrf_token }}
        <div class="form-row">
                {{ form.n.label }}
                {{ form.n(class="form-control")}}
        </div>
        <br>
        <div class="form-row">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    {% if result %}
        </b>what the frick</b>
        <i>{{result}}</i>
    {% endif %}

{% endblock %}